# Python Einf√ºhrung
## Tag 1
Das ist eine Markdown-Zeile *kursiv* **fett** ***fett-kursiv***
- Punkt 1
- Punkt 2
- Punkt 3

In [1]:
print("Hello World")

Hello World

In [2]:
print("something")
# ein Kommentar

something

In [3]:
name = "Lovelace"

In [4]:
print (name)

Lovelace

In [5]:
age = 73

In [6]:
size = 1.7123

In [7]:
age name size

SyntaxError: invalid syntax (<ipython-input-7-81bd729f79ab>, line 1)

In [8]:
age
name
size

1.7123

In [9]:
knows_math = True
print(knows_math)

True

In [10]:
print(age, name, size, knows_math)

73 Lovelace 1.7123 True

In [11]:
likes_slacking = False

In [12]:
print(likes_slacking)

False

In [13]:
type(name)

str

In [14]:
type(age)
type(size)
type(knows_math)

bool

In [15]:
type(age)

int

In [16]:
type(size)

float

In [17]:
5 + 5

10

In [18]:
age * 20

1460

In [19]:
name + name

'LovelaceLovelace'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [21]:
size / age

0.023456164383561642

In [23]:
test = "Love"

In [25]:
name + str(age)

'Lovelace73'

## Funktionen und Methoden nutzen

In [26]:
len(name)

8

In [27]:
len("Bielefeld")

9

In [28]:
name.upper()

'LOVELACE'

In [29]:
test="123"

In [30]:
test.upper()

'123'

In [31]:
len(test)

3

In [32]:
name_capital=name.upper()

In [33]:
print(name_capital)

LOVELACE

In [34]:
name.capitalize()

'Lovelace'

In [35]:
name.count("e")

2

In [36]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [37]:
name

'Lovelace'

## Listen und Dictionaries

In [38]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [39]:
type(names)

list

In [40]:
names[2]

'Curie'

In [41]:
names[1]

'Darwin'

In [42]:
names[-1]

'Hawking'

In [43]:
names[0:2]

['Lovelace', 'Darwin']

In [44]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [45]:
names[2:]

['Curie', 'Hawking']

In [51]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Hawking": [1942, 2018]}

In [50]:
type(authors_and_birth_years)

dict

In [52]:
authors_and_birth_years["Darwin"]

1809

In [53]:
authors_and_birth_years["Hawking"]

[1942, 2018]

In [56]:
authors_and_birth_years["Hawking"][1]

2018

In [59]:
for Nachname in names:
    print("What did " + Nachname + " do?")
    print(Nachname + " did awesome stuff")

What did Lovelace do?
Lovelace did awesome stuff
What did Darwin do?
Darwin did awesome stuff
What did Curie do?
Curie did awesome stuff
What did Hawking do?
Hawking did awesome stuff

In [62]:
for Nachname in names:
    print(Nachname)
    print("----------")

Lovelace
----------
Darwin
----------
Curie
----------
Hawking
----------

In [63]:
for Nachname in names:
    print(Nachname)
print("----------")

Lovelace
Darwin
Curie
Hawking
----------

In [76]:
for Nachname in authors_and_birth_years:
    print(Nachname, authors_and_birth_years[Nachname])

Lovelace 1882
Darwin 1809
Hawking [1942, 2018]

## Bedingte Anweisungen (Conditionals)

In [79]:
temp = 12
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [80]:
temperaturen = {"Montag": 0,
               "Dienstag": 10,
               "Mittwoch": 16,
               "Donnerstag": 22,
               "Freitag": 30,
               "Samstag": 14,
               "Sonntag": 20}

In [81]:
temperaturen

{'Montag': 0,
 'Dienstag': 10,
 'Mittwoch': 16,
 'Donnerstag': 22,
 'Freitag': 30,
 'Samstag': 14,
 'Sonntag': 20}

In [91]:
for Temperatur in temperaturen:
    print(Temperatur, temperaturen[Temperatur])
    if temperaturen[Temperatur] >=25:
        print("It's hot")
    elif temperaturen[Temperatur] >= 15:
        print("It's warm")
    else:
        print("It's cold")

Montag 0
It's cold
Dienstag 10
It's cold
Mittwoch 16
It's warm
Donnerstag 22
It's warm
Freitag 30
It's hot
Samstag 14
It's cold
Sonntag 20
It's warm